body { background:#ccc; padding:20px; }
p { margin-bottom:5px; }
a { color:#996; }
a:hover { color:#ffc; }
h1, h3 { margin-bottom:0px; }
.main { margin:20px 0px; }
.section_title { font-size:150%; font-weight:bold; color:#666; }
.section_content { font-size:92%; line-height:1.6em; color:#444; margin:0px 0px 15px 0px; }
iframe, code { padding: 10px; margin: 10px; background:#333; color:#fff; display:block; white-space:pre; }
iframe { width:63%; padding:10px 2%; }
dl dl { margin-left:15px; }
dl dl dd { margin-left:5px; }